@use "./variables";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");

* {
  margin: 0;
  padding: 0;
}
:root {
  font-family: "Red Hat Display", sans-serif;
}
body {
  background-color: variables.$alabaster;
}
p , h1, h2 {
  text-align: center;
}
button {
  width: 12rem;
  padding: 1rem;
  border-radius: 2rem;
  font-weight: 700;
  margin: 0.4rem 0;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  border: none;
  cursor: pointer;
}

#hero-banner {
  overflow: hidden;
  img {
    width: 110%;
    transform: translateX(-16px);
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;

  .section__overline {
    font-size: 1rem;
    letter-spacing: 0.25rem;
    color: variables.$secondary-color;
  }
}

.section__button--blue {
  background-color: variables.$secondary-color;
  color: variables.$alabaster;
  &:hover {
    background-color: #71c0d4;
  }

  span {
    color: variables.$mailbu;
  }
}
.section__button {
  background-color: variables.$deluge;
  color: variables.$alabaster;

  &:hover {
    background-color: #b18bdd;
  }
  span {
    color: variables.$mauve;
  }
}
.section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: 1.2rem 0;
}

.section__header {
  font-size: 2.5rem;
  line-height: 2.5rem;
  padding: 2rem 1rem;
  max-width: 10ch;
}

.section__header2{
  line-height: 2.1rem;
  max-width: 14ch;
  padding: 2rem 0.8rem;
  font-size: 2rem;
}
.section__desc {
  line-height: 1.5rem;
  font-size: 1rem;
  color: variables.$manatee;
  padding: 0 1rem;
  padding-bottom: 2rem;
}
#logo {
  padding: 2rem 0;
}
.section__line {
  border-left: 0.01px solid variables.$manatee;
  height: 4rem;
  opacity: 0.25;
  margin-top: 2.5rem;
}
.section__number {
  border: lighten($color: variables.$manatee, $amount: 25%) 1px solid;
  border-radius: 50%;
  padding: 0.8rem;

  p {
    font-weight: 900;
    font-size: 1rem;
    color: variables.$manatee;
    opacity: 1;
  }
}

.section__imageContainer {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 2rem 0;
  img {
    width: 130px;
    height: auto;
    border-radius: 5%;
    @include mixins.breakpoint("tablet"){
      width: 9rem;
      margin: 0 0.2rem;
    }
  }
}

#number_padding {
  padding-bottom: 0rem;
}

#number {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 24px;
}

footer {
  background-color: #b18bdd;
  padding: 5rem 0;
  background-image: linear-gradient(to bottom, rgb(variables.$secondary-color, 0.9), rgb(variables.$secondary-color, 0.9)), url('../public/mobile/image-footer.jpg');
  background-size: cover;

  .footer__header {
    color: variables.$primary-color;
    max-width: 12ch;
  }

  .section__desc {
    color: variables.$primary-color;
    padding: 2rem 0;
    max-width: 27ch;
  }
}
