@use "./variables";
@use "./mixins";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");

* {
  margin: 0;
  padding: 0;
}
:root {
  font-family: "Red Hat Display", sans-serif;
}
body {
  background-color: variables.$primary-color;
  overflow-x: hidden;
}
p,
h1,
h2 {
  text-align: center;
}
button {
  width: 12rem;
  padding: 1rem;
  border-radius: 2rem;
  font-weight: 700;
  margin: 0.4rem 0;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  border: none;
  cursor: pointer;
}

#hero-banner {
  overflow: hidden;
  @include mixins.breakpoint("laptop") {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100vw;
  }

  img {
    width: 110%;
    transform: translateX(-16px);

    @include mixins.breakpoint("tablet") {
      width: 108%;
      transform: translateX(-27px);
    }

    @include mixins.breakpoint("laptop") {
      width: 33%;
      min-width: 230px;
      max-width: 370px;
      transform: translateX(0);
      align-self: flex-start;
    }
  }
}

.section {
  @extend %centerColumn;
  .section__overline {
    font-size: 1rem;
    letter-spacing: 0.25rem;
    color: variables.$secondary-color;
  }
}

.section__button--blue {
  background-color: variables.$secondary-color;
  color: variables.$primary-color;

  &:hover {
    background-color: variables.$downy;
  }

  span {
    color: variables.$mailbu;
  }
}
.section__button {
  background-color: variables.$deluge;
  color: variables.$alabaster;

  &:hover {
    background-color: #b18bdd;
    @include mixins.breakpoint("tablet") {
      background-color: variables.$lavender;
    }
  }
  span {
    color: variables.$mauve;
  }
}
.section__container {
  @extend %centerColumn;
  gap: 1.2rem 0;
  @include mixins.breakpoint("laptop") {
    flex-direction: row;
  }
}

.section__header {
  color: variables.$header-color;
  font-size: 2.5rem;
  line-height: 2.5rem;
  max-width: 10ch;
  padding-bottom: 1rem;

  @include mixins.breakpoint("laptop") {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}

.section__secondaryHeader {
  color: variables.$header-color;
  line-height: 2.1rem;
  max-width: 14ch;
  padding: 2rem 0.8rem;
  font-size: 2rem;

  @include mixins.breakpoint("tablet") {
    max-width: 15ch;
  }
}
.section__desc {
  line-height: 1.5rem;
  font-size: 1rem;
  color: variables.$primary-text-color;
  padding: 0 1rem;
  padding-bottom: 2rem;
  max-width: 38ch;
  @include mixins.breakpoint("tablet") {
    max-width: 52ch;
  }

  @include mixins.breakpoint("laptop") {
    max-width: 43ch;
  }
}
#logo {
  padding: 3rem 0;
}
.section__line {
  border-left: 0.01px solid variables.$primary-text-color;
  height: 4rem;
  opacity: 0.25;
  margin-top: 2.5rem;
}
.section__number {
  border: lighten($color: variables.$primary-text-color, $amount: 25%) 1px solid;
  border-radius: 50%;
  padding: 1.2rem;
  background-color: variables.$primary-color;

  p {
    font-weight: 900;
    font-size: 1rem;
    color: variables.$primary-text-color;
    opacity: 1;
  }
}

.section__imageContainer {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 4rem 0;
  @include mixins.breakpoint("tablet") {
    display: block;
  }
  img {
    width: 130px;
    height: auto;
    border-radius: 5%;
    @include mixins.breakpoint("tablet") {
      width: 9rem;
      margin: 0 0.2rem;
    }

    @include mixins.breakpoint("laptop") {
      min-width: 150px;
      max-width: 300px;
      width: 20%;
      margin: 0 1.2rem;
    }
  }
}

#number_padding {
  padding-bottom: 0rem;
}

#number {
  @extend %centerColumn;
  position: relative;
  top: 24px;
}
.footer {
  @extend %centerColumn;
  @include mixins.breakpoint("laptop") {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .footer__header {
    color: variables.$primary-color;
    max-width: 12ch;

    @include mixins.breakpoint("laptop") {
      text-align: left;
    }
  }

  .section__desc {
    color: variables.$primary-color;
    padding: 2rem 0;
    max-width: 47ch;
    @include mixins.breakpoint("laptop") {
      text-align: left;
      max-width: 27ch;
    }
  }
}
footer {
  background-color: #b18bdd;
  padding: 5rem 0;
  background-image: linear-gradient(
      to bottom,
      rgb(variables.$secondary-color, 0.9),
      rgb(variables.$secondary-color, 0.9)
    ),
    url("../public/mobile/image-footer.jpg");
  background-size: cover;
  @include mixins.breakpoint("laptop") {
    background-image: linear-gradient(
        to bottom,
        rgb(variables.$secondary-color, 0.9),
        rgb(variables.$secondary-color, 0.9)
      ),
      url("../public/desktop/image-footer.jpg");
  }
}

#small-button {
  width: 9rem;
}

.section__buttonContainer {
  @extend %centerColumn;
  @include mixins.breakpoint("tablet") {
    flex-direction: row;
    gap: 0 1rem;
  }
}

#tablet-hero {
  @include mixins.breakpoint("laptop") {
    display: none;
    visibility: hidden;
  }
}

.desktop-hero {
  display: none;
  visibility: hidden;
  @include mixins.breakpoint("laptop") {
    display: block;
    visibility: visible;
    position: relative;
  }
}

.section__infoContainer {
  @extend %centerColumn;
  padding-top: 3.5rem;
  padding-bottom: 2rem;
}

#left {
  translate: -6%;

  @include mixins.breakpoint("largeScreens") {
    translate: -8%;
  }
}

#right {
  translate: 6%;

  @include mixins.breakpoint("largeScreens") {
    translate: 8%;
  }
}
