// Breakpoints map: 1em = 16px
 
$breakpoints: ( 
    tablet : 43.75em,
    laptop: 51.25em
);



@mixin breakpoint ($size) {
    @media (min-width: map-get($breakpoints, $size)) {
        @content;
    }
}