// Color Variables

// Blue Color Variables
$hippie-blue: #4d96a9;
$mailbu: #8fe3f9;
$downy: #71C0D4;

// Purple Color Variables
$deluge: #855fb1;
$mauve: #d9b8ff;
$lavender: #b18bdd;

// Black, White and Gray Color Variables
$ebony-clay: #28283d;
$alabaster: #fafafa;
$manatee: #87879d;

// Color Configs
$primary-color: $alabaster;
$secondary-color: $hippie-blue;
$primary-text-color: $manatee;
$header-color: $ebony-clay;
