@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Red Hat Display", sans-serif;
}

body {
  background-color: #fafafa;
  overflow-x: hidden;
}

p,
h1,
h2 {
  text-align: center;
}

button {
  width: 12rem;
  padding: 1rem;
  border-radius: 2rem;
  font-weight: 700;
  margin: 0.4rem 0;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  border: none;
  cursor: pointer;
}

#hero-banner {
  overflow: hidden;
}
@media (min-width: 51.25em) {
  #hero-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100vw;
  }
}
#hero-banner img {
  width: 110%;
  transform: translateX(-16px);
}
@media (min-width: 43.75em) {
  #hero-banner img {
    width: 108%;
    transform: translateX(-27px);
  }
}
@media (min-width: 51.25em) {
  #hero-banner img {
    width: 25%;
    min-width: 230px;
    max-width: 450px;
    transform: translateX(0);
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section .section__overline {
  font-size: 1rem;
  letter-spacing: 0.25rem;
  color: #4d96a9;
}

.section__button--blue {
  background-color: #4d96a9;
  color: #fafafa;
}
.section__button--blue:hover {
  background-color: #71C0D4;
}
.section__button--blue span {
  color: #8fe3f9;
}

.section__button {
  background-color: #855fb1;
  color: #fafafa;
}
.section__button:hover {
  background-color: #b18bdd;
}
@media (min-width: 43.75em) {
  .section__button:hover {
    background-color: #b18bdd;
  }
}
.section__button span {
  color: #d9b8ff;
}

.section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem 0;
}
@media (min-width: 51.25em) {
  .section__container {
    flex-direction: row;
  }
}

.section__header {
  font-size: 2.5rem;
  line-height: 2.5rem;
  padding: 2rem 1rem;
  max-width: 10ch;
}

.section__header2 {
  line-height: 2.1rem;
  max-width: 14ch;
  padding: 2rem 0.8rem;
  font-size: 2rem;
}

.section__desc {
  line-height: 1.5rem;
  font-size: 1rem;
  color: #87879d;
  padding: 0 1rem;
  padding-bottom: 2rem;
  max-width: 38ch;
}
@media (min-width: 43.75em) {
  .section__desc {
    max-width: 52ch;
  }
}

#logo {
  padding: 2rem 0;
}

.section__line {
  border-left: 0.01px solid #87879d;
  height: 4rem;
  opacity: 0.25;
  margin-top: 2.5rem;
}

.section__number {
  border: #cdcdd6 1px solid;
  border-radius: 50%;
  padding: 0.8rem;
  background-color: #fafafa;
}
.section__number p {
  font-weight: 900;
  font-size: 1rem;
  color: #87879d;
  opacity: 1;
}

.section__imageContainer {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 2rem 0;
}
@media (min-width: 43.75em) {
  .section__imageContainer {
    display: block;
  }
}
.section__imageContainer img {
  width: 130px;
  height: auto;
  border-radius: 5%;
}
@media (min-width: 43.75em) {
  .section__imageContainer img {
    width: 9rem;
    margin: 0 0.2rem;
  }
}

#number_padding {
  padding-bottom: 0rem;
}

#number {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 24px;
}

footer {
  background-color: #b18bdd;
  padding: 5rem 0;
  background-image: linear-gradient(to bottom, rgba(77, 150, 169, 0.9), rgba(77, 150, 169, 0.9)), url("../public/mobile/image-footer.jpg");
  background-size: cover;
}
footer .footer__header {
  color: #fafafa;
  max-width: 12ch;
}
footer .section__desc {
  color: #fafafa;
  padding: 2rem 0;
  max-width: 27ch;
}

#small-button {
  width: 9rem;
}

.section__buttonContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 43.75em) {
  .section__buttonContainer {
    flex-direction: row;
    gap: 0 1rem;
  }
}

@media (min-width: 51.25em) {
  #tablet-hero {
    display: none;
    visibility: hidden;
  }
}

.desktop-hero {
  display: none;
  visibility: hidden;
}
@media (min-width: 51.25em) {
  .desktop-hero {
    display: block;
    visibility: visible;
    position: relative;
  }
}

.section__infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#left {
  translate: -8%;
}

#right {
  translate: 8%;
}/*# sourceMappingURL=app.css.map */